USE [master]
GO
/****** Object:  Database [PharmDB]    Script Date: 2023-05-19 12:10:18 PM ******/
CREATE DATABASE [PharmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmDB', FILENAME = N'C:\Users\user\PharmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PharmDB_log', FILENAME = N'C:\Users\user\PharmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2023-05-19 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cateogries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOrders]    Script Date: 2023-05-19 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOrders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[NameProducts] [varchar](350) NOT NULL,
	[NameCategories] [varchar](350) NULL,
	[BuyerUser] [varchar](350) NOT NULL,
	[Price] [int] NOT NULL,
	[Arrive] [varchar](350) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2023-05-19 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[NameProducts] [varchar](350) NOT NULL,
	[NameCategories] [varchar](350) NULL,
	[BuyerUser] [varchar](350) NOT NULL,
	[Price] [int] NOT NULL,
	[Arrive] [varchar](350) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2023-05-19 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Quantity] [int] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[signup]    Script Date: 2023-05-19 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[signup](
	[fName] [varchar](50) NOT NULL,
	[lName] [varchar](50) NOT NULL,
	[mobile] [varchar](50) NOT NULL,
	[dob] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[cPassword] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[authorized] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Oral medication')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'By injection')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2004, N'Intravenous solutions')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryOrders] ON 

INSERT [dbo].[HistoryOrders] ([IdOrder], [NameProducts], [NameCategories], [BuyerUser], [Price], [Arrive]) VALUES (7, N'Penicillin', N'By injection', N'saqewuqow@mailinator.com', 27, N'No')
INSERT [dbo].[HistoryOrders] ([IdOrder], [NameProducts], [NameCategories], [BuyerUser], [Price], [Arrive]) VALUES (8, N'Dettol', N'Antiseptics', N'saqewuqow@mailinator.com', 15, N'No')
SET IDENTITY_INSERT [dbo].[HistoryOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IdOrder], [NameProducts], [NameCategories], [BuyerUser], [Price], [Arrive]) VALUES (4047, N'B12', N'Oral medication', N'doqa@mailinator.com', 12, N'No')
INSERT [dbo].[Orders] ([IdOrder], [NameProducts], [NameCategories], [BuyerUser], [Price], [Arrive]) VALUES (4048, N'Pfizer', N'Vaccine', N'doqa@mailinator.com', 50, N'No')
INSERT [dbo].[Orders] ([IdOrder], [NameProducts], [NameCategories], [BuyerUser], [Price], [Arrive]) VALUES (4064, N'Penicillin', N'By injection', N'abd@gmail.com', 27, N'No')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [CategoryId], [Price], [Description], [Image], [Quantity], [date]) VALUES (2002, N'Acamole', 1, 51, N'resid11ence', N'Acamol.jpg', 24, NULL)
INSERT [dbo].[Products] ([ID], [Name], [CategoryId], [Price], [Description], [Image], [Quantity], [date]) VALUES (2003, N'Panadol', 1, 4, N'residence11', N'panadol.png', 0, NULL)
INSERT [dbo].[Products] ([ID], [Name], [CategoryId], [Price], [Description], [Image], [Quantity], [date]) VALUES (2004, N'Concor', 1, 18, N'for the heart', N'concor.jpg', 0, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[signup] ([fName], [lName], [mobile], [dob], [email], [password], [cPassword], [gender], [authorized]) VALUES (N'miteryhi@mailinator.com', N'Martha', N'Nguyen', N'Reprehenderit modi s', N'abd@gmail.com', N'123', N'123', N'Male', N'admin')
INSERT [dbo].[signup] ([fName], [lName], [mobile], [dob], [email], [password], [cPassword], [gender], [authorized]) VALUES (N'Salvador', N'Decker', N'Sit fuga Porro tot', N'1976-04-22', N'gufi@mailinator.com', N'Pa$$w0rd!', N'Pa$$w0rd!', N'Male', N'admin')
INSERT [dbo].[signup] ([fName], [lName], [mobile], [dob], [email], [password], [cPassword], [gender], [authorized]) VALUES (N'Derek', N'Cooke', N'Expedita aut fugiat', N'1980-06-14', N'ficu@mailinator.com', N'Pa$$w0rd!', N'Pa$$w0rd!', N'Male', N'customer')
GO
USE [master]
GO
